version: '3.8'

services:
  # --- 1. API GATEWAY (Sesuai Poin 4.1.3) ---
  api-gateway:
      image: nginx:alpine
      container_name: api-gateway
      ports:
        - "8080:80"
      volumes:
        - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
        # TAMBAHKAN BARIS INI:
        - ./nginx/html:/usr/share/nginx/html:ro 
      depends_on:
        - auth-service
        - acad-service
      networks:
        - microservices-network

  # --- 2. AUTH SERVICE (Sesuai Poin 4.1.4) ---
  auth-service:
    build: ./auth-service
    container_name: auth-service         # Syarat 4.1.4.a
    ports:
      - "3001:3001"
    volumes:
      - ./auth-service:/app
      - /app/node_modules
    networks:
      - microservices-network            # Syarat 4.1.4.d
    depends_on:
      - auth-db                          # Syarat 4.1.4.b
    environment:                         # Syarat 4.1.4.e
      - NODE_ENV=development             # i.
      - PORT=3001                        # ii.
      - MONGO_URI=mongodb://auth-db:27017/auth  # iii.
      - JWT_SECRET=rahasia_super_aman_123       # iv.

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: dentaraja@iblis.com
      PGADMIN_DEFAULT_PASSWORD: dentar
    ports:
      - "5050:80"
    networks:
      - microservices-network
    depends_on:
      - acad-db

  # --- GUI UNTUK AUTH DB (MongoDB) ---
  mongo-express:
    image: mongo-express
    container_name: mongo-express
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: auth-db
      ME_CONFIG_MONGODB_PORT: 27017
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin
    networks:
      - microservices-network
    depends_on:
      - auth-db

  # --- 3. AUTH DATABASE (Sesuai Poin 4.1.5) ---
  auth-db:
    image: mongo:6.0                     # Syarat 4.1.5.a
    container_name: auth-db              # Syarat 4.1.5.b
    ports:
      - "27017:27017"
    networks:
      - microservices-network            # Syarat 4.1.5.c
    volumes:
      - auth-data:/data/db               # Syarat 4.1.5.d

  # --- ACAD SERVICE (Melengkapi sistem) ---
  acad-service:
    build: ./acad-service
    container_name: acad-service
    ports:
      - "3002:3002"
    volumes:
      - ./acad-service:/app
    networks:
      - microservices-network
    depends_on:
      - acad-db
    environment:
      - DB_HOST=acad-db
      - DB_PORT=5432
      - DB_NAME=acad_db
      - DB_USER=user
      - DB_PASSWORD=password
      - JWT_SECRET=rahasia_super_aman_123

  # --- ACAD DATABASE ---
  acad-db:
    image: postgres:13
    container_name: acad-db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: acad_db
    ports:
      - "5432:5432"
    networks:
      - microservices-network
    volumes:
      - acad-data:/var/lib/postgresql/data
      - ./acad-service/db_kelas.sql:/docker-entrypoint-initdb.d/init.sql

# --- INTERNAL NETWORKING (Sesuai Poin 4.1.1) ---
networks:
  microservices-network:
    driver: bridge
    name: uas-network  # Nama bebas ditentukan sendiri

# --- VOLUMES (Sesuai Poin 4.1.2) ---
volumes:
  auth-data:
  acad-data: